<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>داشبورد</title>
</head>
<body>

    <h1>hello to salam</h1>
    
    <h2>سلام به {{ user.first_name }}</h2>
    <a href="/buildingmanager/logout/">Exit</a>
  
    <h3>هزینه‌ها:</h3>
    {% for expense in expenses %}
        <p>{{ expense.title }} - {{ expense.total_amount }} تومان <a href="{% url 'delete_expense' expense.id %}" onclick="return confirm('آیا از حذف این هزینه مطمئن هستید؟');" 
           style="color: red; margin-right: 10px;"><button>حذف</button></a></p>
    {% endfor %}
    <a href="{% url 'add_new_expense' %}"><button>اضافه کردن هزینه</button></a>
    {% comment %}
     <a href="{% url 'manage_expenses' %}"><button>مدیریت هزینه‌ها</button></a>
     {% endcomment %}
    <h3>واحدها:</h3>
    {% for unit in units %}
        <p>واحد {{ unit.unit_number }} - ساکن: {{ unit.unit_name }} <a href="{% url 'delete_unit' unit.id %}" onclick="return confirm('آیا از حذف این واحد مطمئن هستید؟');" style="color: red; margin-right: 10px;"><button>حذف</button></a></p>
    {% endfor %}
    
    <a href="{% url 'add_new_unit' %}"><button>اضافه کردن واحد</button></a>
    {% comment %}
    <a href="{% url 'manage_units' %}"><button>مدیریت واحدها</button></a>
    {% endcomment %}

</body>
</html>