<html>
    
    <form method="post" action="">
        {% csrf_token %}
    نام
    <input type="text" name="first_name">
    <br><br>
    نام خانوادگی
    <input type="text" name="last_name">
    <br><br>
    یوزرنیم
    <input type="text" name="username">
    <br><br>
    پسورد
    <input type="text" name="password">
    <br><br>
    شماره تلفن
    <input type="text" name="phone_number">
    <br><br>
    شماره کارت
    <input type="text" name="card_number">
    <br><br><br>
    <input type="submit" value="تایید">
</form>

</html>
